{% extends "base_generic.html" %}
{% block content %}

    <h1>Renew: {{bookinst.book.title}}</h1>
    <p>Borrower: {{bookinst.borrower}}</p>
    <p{% if bookinst.is_overdue %} class="text-danger"{% endif %}>Due date: {{bookinst.due_back}}</p>
    
    <form action="" method="post">   <!--пустое значние атрибута action, означает, что данные из формы будут переданы обратно по текущему URL-адресу данной страницы  -->
        {% csrf_token %}
        <table>
        {{ form }}  <!-- тот же результат можно достигнут ьбез <table> {{ form.as_table }}, вместо table можно использовать как список элементов ({{form.as_ul}} ), или как параграф ({{form.as_p}})-->       
<!--используя переменную {{ form }} - мы предоставим возможность форме отрендерить свои поля с их метками, виджетами и дополнительными текстами --> 
	</table>
	<input type="submit" value="Submit" />
    </form>

{% endblock %}
